<div class="row">
    <div class="col-md-6">
        <h2>Assignments</h2>

        <table class="table table-striped">
            {{#each assignments}}
                <tr>
                    <td class="check"><input type="checkbox" {{isChecked}}></td>
                    <td class="item">{{title}}</td>
                    <td class="course"><span class="label label-primary">{{class}}</span></td>
                    <td class="date">{{date}}</td>
                </tr>
            {{/each}}
        </table>

        <h2>News</h2>

        <table class="table table-striped">
            {{#each news}}
                <tr>
                    <td class="check"><span>&bull;</span></td>
                    <td class="item"><a href="news?id={{id}}">{{title}}</a></td>
                    <td class="date">{{data}}</td>
                </tr>
            {{/each}}
        </table>
    </div>

    <div class="col-md-6">
        <h2>Grades</h2>
        <table id="gradeType"><!-- TODO: Get rid of table -->
            <tr>
                <td id="gT1">Letter</td>
                <td id="gT2">Percentage</td>
                <td id="gT3">GPA</td> <!--gT stands for grade Type-->
            </tr>
        </table>

        <br>

        <div class="row">
            <div class="col-md-2">
                <div class="btn-group">
                    <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" type="button">{{selectedCourse title}} <span class="caret"></span></button>

                    <ul class="dropdown-menu">
                        {{#each courses}}
                            <li class="{{isActive}}"><a href="#">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="courseinfo">
                    {{selectedCourse letter}}
                </div>
                </div>

            <div class="col-md-2">
                <div class="courseinfo">
                    {{selectedCourse percent}}
                </div>
            </div>

            <div class="col-md-2">
                <div class="courseinfo">
                    {{selectedCourse gp}}
                </div>
            </div>

            <div class="col-md-offset-1 col-md-3">
                <div class="courseinfo">
                    <a href="/class?id={{selectedCourse id}}">More details</a>
                </div>
            </div>
        </div>
    </div>
</div>
